@keyframes flare-telegramm {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}

@keyframes flare-phone {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}

@keyframes fadeOut {
    from { 
        transform: scale(1);
        opacity: 1;  
    }
    to { 
        transform: scale(.5); 
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    from { 
        transform: scale(.5);
        opacity: 0; 
    }
    to { 
        transform: scale(1);
        opacity: 1; 
    }
}

