@keyframes flare-telegramm {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}

@keyframes flare-phone {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}