@keyframes flare-telegramm {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}

@keyframes flare-phone {
    0% {
        left: -300%;
    }
    100% {
        left: 300%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}