*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(1vw + 0.414em);
    @include respond(tab-port) {
        font-size: calc(1vw - .0125em);
    }
    @include respond(big-screen) {
        font-size: calc(1vw - .575em);
    }
    
}

body {
    font-family: $ff-gotham-pro;
    background-color: $bg-color-white;
}

section {
    overflow: hidden;
}
