.first-title {
    font-family: $ff-gotham-pro;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 132%;
    width: 97%;
    font-weight: 700;
    @include respond (big-screen) {
        font-size: 4.8rem;
    }
}
.secondary-title {
    font-family: $ff-raleway;
    font-size: 2rem;
    font-weight: 700;
    // width: 100%;
    @include respond(big-screen) {
        font-size: 4rem;
        span {
            margin-left: 6.5rem;
            display: block;
            font-size: 4.8rem;
            font-weight: 700;
            font-style: normal;
        }
    }
}
.third-title {
    font-family: $ff-gotham-pro;
    font-size: 2rem;
    span {
        margin: .9rem 0 0 3.8rem;
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
    }
}