.text-align-center {
    text-align: center;
}
.flex {
    display: flex;
}
.line-small_light {
    background: $line-color-small;
}
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}
