.text-align-center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.line-small_light {
    background: $line-color-small;
}
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}
.block-none-mobile {
    display: none;
    @include respond(big-screen) {
        display: block;
    }
}
.block-none-desctop {
    display: block;
    @include respond(big-screen) {
        display: none;
    }
}
