.first__section {
    padding-top: 48.7rem;
    background: url('../../img/mobile/first-section/bg.jpg') center / cover no-repeat;
    @include respond(tab-port) {
        padding-top: 0;
        background: url('../../img/desctop/first-section/bg.jpg') -33.8rem 0 / cover no-repeat;
    }
    @include respond(big-screen) {
        padding-top: 0;
        background: url('../../img/desctop/first-section/bg.jpg') center / cover no-repeat;
    }
}
.secondary-section {
    width: 100%;
    padding: 3.6rem 0 4.8rem;
    @include respond(tab-port) {
        padding: 13.3rem 0 19.3rem;
    }
    @include respond(big-screen) {
        padding: 9.4rem 0 5.6rem;
    }
}
.section-options {
    padding: 3.7rem 1.7rem 9.6rem;
    background: url('../../img/mobile/third-section/bg.jpg') center / cover no-repeat;
    @include respond(tab-port) {
        padding: 4.9rem 15.8rem 9.9rem;
    }
    @include respond(big-screen) {
        padding: 11.9rem 17rem 7.25rem;
        background: url('../../img/desctop/third-section/bg.jpg') center / cover no-repeat;
    }
}
.section-stages {
    padding: 6rem 0 4.5rem;
    @include respond(tab-port) {
        padding: 14.3rem 0 12.8rem;
    }
    @include respond(big-screen) {
        padding: 17.2rem 13.9rem 20.8rem;
    }
}
.section-reviews {
    padding-bottom: 12.9rem;
    
}
.section-questions {
    padding-bottom: 10.4rem;
    @include respond(big-screen) {
        padding: 8rem 0 13.5rem;
        background: rgba(219, 209, 189, 1);
    }
}
.section-construction {
    padding-bottom: 18rem;
    @include respond(big-screen) {
        padding: 15.3rem 0;
    }
}
.section-baths {
    padding-bottom: 11.1rem;
    @include respond(big-screen) {
        padding-bottom: 0;
    }
}
.section-feedback {
    padding-bottom: 2.8rem;
    @include respond(big-screen) {
        padding: 10rem 0 30.7rem;
    }
}
.section-footer {
    padding: 5rem 0 3.4rem;
    overflow: hidden;
    background: rgba(96, 94, 94, 1);
    @include respond(tab-port) {
        padding: 3.8rem 0 7.3rem;
    }
}