.first__section {
    padding-top: 48.7rem;
    background: url('../../img/mobile/first-section/bg.jpg') center / cover no-repeat;
}
.secondary-section {
    width: 100%;
    padding: 3.6rem 0 4.8rem;
}
.section-options {
    padding: 3.7rem 1.7rem 9.6rem;
    background: url('../../img/mobile/third-section/bg.jpg') center / cover no-repeat;
}
.section-stages {
    padding: 6rem 0 4.5rem;
}
.section-reviews {
    padding-bottom: 12.9rem;
}
.section-questions {
    padding-bottom: 10.4rem;
}
.section-construction {
    padding-bottom: 18rem;
}
.section-baths {
    padding-bottom: 11.1rem;
}
.section-feedback {
    padding-bottom: 2.8rem;
}