.advantages {
    padding: 1.2rem 1.5rem 1.6rem .5rem;
    position: relative;
    width: 100%;
    background: rgba(217, 217, 217, 0.30);
    box-shadow: 10px 4px 18px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    overflow: hidden;
    @include respond(tab-port) {
        width: 629px;
        padding: 145px 0 54px 0;
    }
    @include respond(big-screen) {
        width: 817px;
        padding: 290px 27px 29px 12px;
    }
    &__logotype {
        display: none;
        @include respond(tab-port) {
            margin: 59px auto 99px;
            width: 164px;
            display: flex;
            align-items: flex-end;
        }
        @include respond(big-screen) {
            display: none;
        }
    }
    &__img {
        width: 10.4rem;
        height: 10.4rem;
        @include respond(tab-port) {
            width: 104px;
            height: 104px;
        }
    }
    &__name {
        font-family: $ff-kelly-slab;
        font-size: 2rem;
        color: rgba(0, 0, 0, 1);
        @include respond(tab-port) {
            font-size: 20px;
        }
    }
    &__container {
        position: relative;
        height: 11.2rem;
        @include respond(tab-port) {
            height: 331px;
        }
        @include respond(big-screen) {
            height: 442px;
        }
    }
    #block1 {
        animation: fadeOut 4s forwards;
        animation-delay: 4s;
        backface-visibility: hidden;
        @include respond (tab-port) {
            animation: none;
        }

    }
    #block2 {
        opacity: 0;
        animation: fadeIn 4s forwards;
        animation-delay: 4s;
        @include respond (tab-port) {
            animation: none;
            opacity: 1;
        }
    }
    &__title {
        position: absolute;
        padding-left: 1.7rem;
        @include respond(tab-port) {
            display: block;
            position: relative;
            width: 581px;
            padding-left: 55px;
            font-size: 40px;
            margin-bottom: 69px;
        }
        @include respond(big-screen) {
            width: 688px;
            padding-left: 47px;
            margin-bottom: 69px;
            font-size: 48px;
        }
    }
    &__content-center {
        display: block;
        @include respond(big-screen) {
            padding-left: 3rem;
        }
    }
    &__btn {
        display: none;
        @include respond(tab-port) {
            display: inline-block;
            padding: 40px 60px;
            font-size: 24px;
            margin-left: 55px;
            margin-bottom: 116px;
        }
        @include respond(big-screen) {
            font-size: 24px;
            padding: 40px 62px;
            margin-bottom: 36px;
            margin-left: 0;
        }
    }
    &__text-center {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 0;
        @include respond(tab-port) {
            display: none;
        }
        @include respond(big-screen) {
            display: block;
            font-size: 20px;
        }
    }
    &__text-center:last-child {
        font-weight: 700;
    }
    &__text-center:not(:last-child) {
        margin-bottom: 1rem;
        @include respond(tab-port) {
            margin-bottom: 20px;
        }
    }
    &__text-center:nth-child(3) {
        display: none;
        @include respond(big-screen) {
            display: block;
            opacity: 1;
        }
    }
    &__items {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        @include respond(tab-port) {
            margin: 113px auto 0;
            padding-top: 0;
            width: 604px;
        }
        @include respond(big-screen) {
            width: 691px;
            padding-top: 101px;
        }
    }
    &__line-top {
        margin-bottom: .9rem;
        width: 41.3%;
        height: 0.2rem;
        @include respond(big-screen) {
            height: 5px;
        }
    }
    &__line-bottom {
        display: none;
        @include respond(tab-port) {
            display: block;
            margin-left: 0;
            height: 2px;
        }
        @include respond(big-screen) {
            margin-left: 53px;
            height: 5px;

        }
    }
    &__line-top_1 {
        width: 60.3%;
        @include respond(big-screen) {
            width: 142px;
            margin-top: 0;
        }
    }
    &__line-top_2 {
        width: 52.3%;
        @include respond(big-screen) {
            width: 142px;
        }
    }
    &__line-top_3 {
        width: 75.3%;
        @include respond(big-screen) {
            width: 142px;
        }
    }
    &__line-bottom_1 {
        @include respond(tab-port) {
            margin-left: 54px;
        }
    }
    &__line-bottom_2 {
        @include respond(tab-port) {
            margin-left: 54px;
        }
    }
    &__line-bottom_3 {
        @include respond(tab-port) {
            margin-left: 54px;
        }
    }
    &__line-left {
        margin: -.9rem 1rem 0 0;
        width: 0.2rem;
        height: 3.4rem;
        @include respond(big-screen) {
            width: 5px;
            height: 74px;
        }
    }
    &__line-right {
        display: none;
        @include respond(tab-port) {
            margin-top: 12px;
            display: block;
            width: 2px;
            height: 55px;
        }
        @include respond(big-screen) {
            width: 5px;
            height: 74px;
        }
    }
    &__line-right_2 {
        @include respond(tab-port) {
            margin-top: 15px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 1.4rem;
        width: 77.2%;
        font-weight: 700;
        @include respond(tab-port) {
            padding: 12px 10px 10px 0;
            font-size: 15px;
            width: 14rem;
        }
        @include respond(big-screen) {
            font-size: 16px;
            font-weight: 700;
            width: 175px;
        }
    }
    &__text-2 {
        @include respond(tab-port) {
            padding-top: 0;
        }
    }
}
.advantages::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}