.baths-title {
    width: 157.9rem;
    margin: 0 auto 9rem;
    padding: 0 0 10.7rem 4.8rem;
    border-bottom: 1px solid #000;
    span {
        margin: 1.9rem 0 0 21rem;
    }
    @include respond(tab-port) {
        width: 82.6rem;
        padding: 0 0 5.6rem 2.5rem;
        font-size: 2.1rem;
        span {
            display: block;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 0 0 0 11rem;
        }
    }
    @include respond(big-screen) {
        margin: 0 0 9rem 21.7rem;
        padding: 0 0 10.7rem 0;
        width: 1579px;
        font-size: 4rem;
        span {
            margin: 0 0 0 21rem;
            font-size: 4.8rem;
        }
    }
}
.baths {
    &__item {
        @include respond(tab-port) {
            display: flex;
        }
    }
    &__item_mr {
        @include respond(tab-port) {
            justify-content: space-between;
            img {
                margin-right: 1rem;
            }
        }
        @include respond(big-screen) {
            img {
                margin-right: 7rem;
            }
        }
    }
    &__item_fr {
        @include respond(tab-port) {
            flex-direction: row-reverse;
            img {
                margin-left: 1rem;
            }
        }
        @include respond(big-screen) {
            img {
                margin-left: 7rem;
            }
        }
    }
    &__item:not(:last-child) {
        padding-bottom: 9rem;
        @include respond(tab-port) {
            padding-bottom: 0;
        }
        @include respond(big-screen) {
            padding-bottom: 0;
        }
    }
    &__line {
        display: none;
        margin: 7.3rem auto;
        width: 157.9rem;
        height: 1px;
        background: rgba(0, 0, 0, 1);
        @include respond(tab-port) {
            display: block;
            margin: 6rem auto;
            width: 82.6rem;
        }
        @include respond(big-screen) {
            margin: 7.3rem auto;
            width: 157.9rem;
        }
    }
    &__img {
        img {
            width: 100%;
            @include respond(tab-port) {
                width: 45.3rem;
            }
            @include respond(big-screen) {
                width: 100%;
            }
        } 
    }
    &__img-4 {
        @include respond(tab-port) {
            margin-top: 4.6rem;
        }
    }
    &__desc {
        padding-left: 1.7rem;
        margin-top: 2.3rem;
        width: 27.3rem;
        @include respond(tab-port) {
            width: 81.2rem;
            padding-left: 3.25rem;
        }
        @include respond(big-screen) {
            width: 90.4rem;
        }
    }
    &__desc-3 {
        @include respond(tab-port) {
            margin-top: 4.8rem;
        }
    }
    &__desc-4 {
    }
    &__title {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: 700;
        @include respond(tab-port) {
            font-size: 2.5rem;
            margin-top: -3rem;
            margin-bottom: 2.6rem;
        }
        @include respond(big-screen) {
            font-size: 4.8rem;
            margin: -4rem 0 5.1rem;
        }
    }
    &__text {
        margin-bottom: 3.6rem;
        font-size: 1.4rem;
        line-height: 130%;
        @include respond(tab-port) {
            font-size: 1.25rem;
            line-height: 120%;
        }
        @include respond(big-screen) {
            font-size: 2.4rem;
            line-height: 120%;
        }
    }
    &__text_width-2 {
        @include respond(tab-port) {
            width: 41.9rem;
        }
        @include respond(big-screen) {
            width: 81rem;
        }
    }
    &__text_width-3 {
        width: 27.6rem;
        @include respond(tab-port) {
            width: 48.7rem;
        }
        @include respond(big-screen) {
            width: 87.7rem;
        }
    }
    &__text_width-4 {
        @include respond(tab-port) {
            width: 47.7rem;
        }
        @include respond(big-screen) {
            width: 84.1rem;
        }
    }
    &__text_w700 {
        @include respond(tab-port) {
            font-weight: 700;
        }
    }
    &__btn {
        display: block;
        padding: 1.2rem 4.5rem;
        margin: 0 auto;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__popup {
        display: none;
        padding: 2rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
        z-index: 201;
        overflow: scroll;
    }
    &__popup-content {
        margin: 0 auto;
        width: 28.8rem;
        position: relative;
        background: rgba(217, 217, 217, 1);
        padding: 6.9rem 1.9rem 6.5rem 3.5rem;  
    }
    &__close {
        position: absolute;
        top: 1.1rem;
        right: 1.9rem;
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }
    &__close::before {
        content: '';
        display: block;
        position: absolute;
        top: 48%;
        right: 6%;
        width: 3.3rem;
        height: 1px;
        background: rgba(0, 0, 0, 1);
        transform: rotate(-130deg);
    }
    &__close::after {
        content: '';
        display: block;
        position: absolute;
        top: 48%;
        right: 6%;
        width: 3.3rem;
        height: 1px;
        background: rgba(0, 0, 0, 1);
        transform: rotate(130deg);
    }
    &__popup-text {
        font-size: 1.3rem;
        width: 23.4rem;
        p:first-child {
            width: 19rem;
        }
        p:nth-child(2) {
            width: 19.8rem;
        }
        p:nth-child(3) {
            width: 20rem;
        }
        p:last-child {
            width: 19.9rem;
        }
        p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}