.feedback {
    position: relative;
    margin: 0 auto;
    width: 28.1rem;
    @include respond(tab-port) {
        margin: 0 auto;
        width: 1005px;
    }
    @include respond(big-screen) {
        width: 1579px;
    }
    &__title {
        margin-bottom: 3.8rem;
        font-family: $ff-raleway;
        font-size: 2rem;
        font-weight: 700;
        line-height: 91%;
        text-align: center;
        @include respond(tab-port) {
            margin: 0 auto 88px;
            font-size: 31.7px;
            width: 689px;
            line-height: 123%;
        }
        @include respond(big-screen) {
            margin: 0 auto 122px;
            font-size: 48px; 
            width: 1042px;
        }
    }
    &__body {
        text-align: center;
        @include respond(tab-port) {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            width: 1005px;
        }
        @include respond(big-screen) {
            width: 1519px;
        }
    }
    &__text {
        margin: 0 auto 2.6rem;
        width: 25.2rem;
        font-size: 1.5rem;
        @include respond(tab-port) {
            margin-top: 84px;
            padding-right: 56.9px;
            width: 367px;
            font-size: 24px;
            text-align: right;
            line-height: 135%;
        }
        @include respond(big-screen) {
            margin: 0 26px 40px 0;
            width: 464px;
            font-size: 36px;
        }
    }
    &__group-icons {
        display: flex;
        justify-content: center;
        margin: 0 auto 3.9rem;
        width: 12.1rem;
        @include respond(tab-port) {
            margin: 0 0 0 174px;
            width: 95px;
        }
        @include respond(big-screen) {
            padding-left: 86px;
            margin: 0 auto;
            width: 242px;
            justify-content: center;
        }
    }
    &__line {
        @include respond(tab-port) {
            margin: 0 58px 24.8px auto;
            width: 195px;
            height: 1px;
            background: rgba(0, 0, 0, 1);
        }
        @include respond(big-screen) {
            margin: 0 86px 31px auto;
            width: 295px;
            height: 1px;
            background: rgba(0, 0, 0, 1);
        }
    }
    &__icon {
        display: block;
        width: 2.7rem;
        height: 2.7rem;
        @include respond(tab-port) {
            width: 36px;
            height: 36px;
        }
        @include respond(big-screen) {
            width: 52px;
            height: 52px;
        }
    }
    &__icon_phone {
        margin-top: -.9rem;
        width: 4rem;
        height: 4rem;
        @include respond(tab-port) {
            margin-top: -6px;
            width: 50px;
            height: 50px;
        }
        @include respond(big-screen) {
            margin: -14px 35px 0;
            width: 72px;
            height: 72px;
        }
    }
    &__body_right {
        position: relative;
    }
    &__content {
        margin: 0 auto;
        width: 26.3rem;
        @include respond(tab-port) {
            padding: 84px 0;
            width: 600px;
            background: rgba(96, 94, 94, 1);
        }
        @include respond(big-screen) {
            padding: 127px 190px 72px 65px;
            width: 908px;
        }
    }
    &__input {
        width: 100%;
        height: 3.4rem;
        margin-bottom: 1.7rem;
        padding-left: .9rem;
        background: rgba(96, 94, 94, 1);
        font-family: $ff-montserrat;
        font-weight: 300;
        font-size: 1.2rem;
        color: rgba(255, 249, 249, 1);
        @include respond(tab-port) {
            margin: 0 auto;
            width: 432px;
            height: 65.5px;
            background: rgba(217, 217, 217, 1);
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
        }
        @include respond(big-screen) {
            width: 653px;
            height: 99px;
        }
    }
    input {
        @include respond(tab-port) {
            margin-bottom: 35px;
        }
        @include respond(big-screen) {
            margin-bottom: 53px;
        }
    }
    input:nth-child(2) {
        @include respond(tab-port) {
            margin-bottom: 0;
        }
        @include respond(big-screen) {
            margin-bottom: 0;
        }
    }
    &__input::placeholder {
        color: rgba(255, 249, 249, 1);
        @include respond(tab-port) {
            color: rgba(0, 0, 0, 1);
            font-weight: 400;
        }
    }
    &__input_height {
        margin-bottom: 3.1rem;
        padding-top: 1.3rem;
        height: 11.4rem;
        @include respond(tab-port) {
            margin-top: 58.2px;
            height: 186px;
        }
        @include respond(big-screen) {
            margin-top: 88px;
            height: 282px;
        }
    }
    &__block {
        @include respond(tab-port) {
            display: flex;
        }
    }
    &__btn {
        padding: 1.2rem 4.65rem;
        @include respond(tab-port) {
            padding: 23px 78px;
            margin-top: 42.3px;
            font-size: 21px;
            border-radius: 13px;
        }
        @include respond(big-screen) {
            margin-top: 64px;
            font-size: 32px;
            padding: 35px 120px;
        }
    }
    &__logotype {
        display: flex;
        align-items: end;
        margin: 7.4rem auto 0;
        width: 10.5rem;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__name {
        display: inline;
        text-align: left;
        font-family: $ff-kelly-slab;
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 1);
    }
}