.logotype {
    display: flex;
    &__img {
        width: 5.7rem;
        height: 5.7rem;
        @include respond(big-screen) {
            width: 104px;
            height: 104px;
        }
    }
    &__name {
        margin-top: 2.6rem;
        @include respond(big-screen) {
        }
        a {
            color: $color-text-dark;
            span {
                font-family: $ff-kelly-slab;
                font-size: 1.6rem;
                @include respond(big-screen) {
                    font-size: 20px;
                }
            }
        }
        
    }
}
