.options {
    &__block:not(:last-child) {
        margin-bottom: 4.5rem;
    }
    &__block {
        display: none;
        
    }
    &__block:nth-child(3) {
        display: none;
    }
    &__items {
        margin-bottom: 4.5rem;
        display: grid;
        gap: 4.5rem 1.7rem;
        grid-template-columns: 1fr 1fr;
        @include respond(tab-port) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include respond(big-screen) {
            gap: 5.7rem 2.8rem;
        }
    }
    &__item {
        position: relative;
        background-color: rgba(25, 24, 22, 1);
        padding-bottom: 1.7rem;
        @include respond(tab-port) {
            &:hover {
                &::before {
                    display: block;
                }
                .options__item_hover {
                    display: block;
                }
            }
        }
    }
    
    &__item::before {
        content: '';
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(254, 255, 249, 0.45);
        backdrop-filter: blur(7.5px);
        cursor: pointer;
        
    }
    &__item_hover {
        display: none;
        width: 22.7rem;
        height: 22.7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
        transition: all .3s;
    }
    &__border_orange {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22.7rem;
        height: 22.7rem;
        border-radius: 50%;
        border: 2rem solid rgba(179, 135, 51, .4);
    }
    &__border_yellow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2rem solid rgba(237, 207, 149, .4);
    }
    &__img-loop {
        display: block;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    &__img_mobile {
        @include respond(tab-port) {
            display: none;
        }
    }
    &__img_desctop {
        display: none;
        @include respond(tab-port) {
            display: block;
        }
    }
    &__more {
        margin-top: 6rem;
        display: block;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
    }
    &__list {
        @include respond(big-screen) {
            margin: 2.8rem 0 0 2.9rem;
        }
    }
    &__paragraph {
        padding: 0 .3rem;
        margin-top: 1.2rem;
        font-size: 1rem;
        font-weight: 700;
        color: rgba(252, 239, 239, 1);
        @include respond(tab-port) {
            font-size: 0.89rem;
        }
        @include respond(big-screen) {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 2.1rem;
        }
    }
    &__paragraph:nth-child(2) {
        font-weight: 400;
    }
    &__paragraph:nth-child(3) {
        font-weight: 400;
    }
    &__paragraph:last-child {
        font-size: 1.1rem;
        @include respond(big-screen) {
            font-size: 2rem;
            margin-bottom: 0;
        }
    }
    &__btn {
        display: block;
        margin: 6rem auto;
        @include respond(tab-port) {
            padding: 3.9rem 10.3rem;
            font-size: 2.4rem;
        }
    }
    &__popup {
        display: none;
        padding: 1.7rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
        z-index: 201;
        overflow: scroll; 
    }
    &__content {
        margin: 0 auto;
        width: 30.3rem;
        background: rgba(255, 255, 255, 1);
        padding: 1.5rem 1.2rem;
        @include respond(tab-port) {
            width: 95.9rem;
        } 
        @include respond(big-screen) {
            width: 165.6rem;
        } 
    }
    &__content-top {
        position: relative;
        @include respond(big-screen) {
            padding-top: 7.9rem;
        }
    }
    &__content-body {
        @include respond(tab-port) {
            display: flex;
            flex-direction: row-reverse;
            margin: 0 auto;
            width: 88.2rem;
        }   
        @include respond(big-screen) {
            width: 152.3rem;
        }
    }
    &__body-right {
        @include respond(tab-port) {
            position: relative;
            width: 55.4rem;
            padding-left: 3.24rem;
        }
        @include respond(big-screen) {
            width: 95.1rem;
            padding-left: 5.6rem;
        }
    }
    &__body-right::before {
        @include respond(tab-port) {
            content: '';
            display: block;
            width: 1px;
            height: 49.65rem;
            position: absolute;
            bottom: -5.3rem;
            left: 0;
            background: #000;
        }
        @include respond(big-screen) {
            height: 77.7rem;
        }
    }
    &__body-left {
        @include respond(tab-port) {
            margin: 0 auto;
            width: 32.7rem;
        }
        @include respond(big-screen) {
            width: 56.5rem;
        }
    }
    &__content-bottom {
        position: relative;
    }
    &__line_w {
        position: absolute;
        width: 7.5rem;
        height: .3rem;
        background: $line-color-big;
        @include respond(big-screen) {
            width: 9.5rem;
            height: .7rem;
        }
    }
    &__line_h {
        position: absolute;
        height: 7.5rem;
        width: .3rem;
        background: $line-color-big;
        @include respond(big-screen) {
            height: 9.5rem;
            width: .7rem;
        }
    }
    &__line_top-left {
        top: 0;
        left: 0;
    }
    &__line_left-top {
        top: 0;
        left: 0;
    }
    &__line_top-right {
        top: 0;
        right: 0;
    }
    &__line_right-top {
        top: 0;
        right: 0;
    }
    &__line_bottom-left {
        bottom: 0;
        left: 0;
    }
    &__line_left-bottom {
        bottom: 0;
        left: 0;
    }
    &__line_bottom-right {
        bottom: 0;
        right: 0;
    }
    &__line_right-bottom {
        bottom: 0;
        right: 0;
    }
    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.9rem;
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }
    &__close::before {
        content: '';
        display: block;
        position: absolute;
        top: 48%;
        right: 6%;
        width: 3.3rem;
        height: 1px;
        background: rgba(0, 0, 0, 1);
        transform: rotate(-130deg);
    }
    &__close::after {
        content: '';
        display: block;
        position: absolute;
        top: 48%;
        right: 6%;
        width: 3.3rem;
        height: 1px;
        background: rgba(0, 0, 0, 1);
        transform: rotate(130deg);
    }
    &__popup-title {
        font-size: 1.4rem;
        font-weight: 700;
        padding: 2.5rem 0 0 1.3rem;
        @include respond(tab-port) {
            font-size: 2.1rem;
            padding-left: 0;
        }
        @include respond(big-screen) {
            padding: 0;
            font-size: 3.6rem;
            margin-top: -6.1rem;
        }
    }
    &__popup-title::after {
        content: '';
        display: block;
        margin: 2.5rem 0 1.6rem;
        width: 25rem;
        height: 0.1rem;
        background: #000;
        @include respond(tab-port) {
            width: 50.7rem;
            margin-left: -3.2rem;
        }
        @include respond(big-screen) {
            width: 95.1rem;
            margin-left: -5.6rem;
        }
    }
    &__popup-title_width-3 {
        width: 16rem;
        line-height: 113%;
    }
    &__popup-title_width-4 {
        width: 15.6rem;
        line-height: 113%;
    }
    &__characteristics {
        margin: 0 auto 1.2rem;
        width: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 2.2rem;
        font-size: 1.3rem;
        font-weight: 700;
        @include respond(tab-port) {
            margin: 0 0 1.42rem;
            font-size: 1.38rem;
            width: 22.4rem;
        }
        @include respond(big-screen) {
            margin: 0 0 2.4rem 0;
            width: 38.8rem;
            font-size: 2.4rem;
        }
    }
    &__name {
        width: 11.7rem;
        @include respond(tab-port) {
            width: 12.5rem;
        }
        @include respond(big-screen) {
            width: 21.5rem;
        }
    }
    &__slices {
        position: relative;
        padding: 2.8rem 1.3rem 6.3rem .9rem;
        background: rgba(252, 243, 226, 1);
        width: 27.4rem;
        margin: 0 auto 1.8rem;
        @include respond(tab-port) {
            width: 52.2rem;
            padding: 5.9rem 0 3.45rem;
        }
        @include respond(big-screen) {
            margin: 0;
            width: 90.2rem;
            padding: 8.9rem 0 5.9rem;
        }
    }
    &__slices-line {
        position: absolute;
        top: 0;
        right: 0;
        background: $line-color-big;
    }
    &__slices-line__top {
        width: 27.4rem;
        height: .5rem;
        @include respond(tab-port) {
            right: 1px;
            height: .75rem;
            width: 47.2rem;
        }
        @include respond(big-screen) {
            width: 81.5rem;
            height: 1.3rem;
        }
    }
    &__slices-line__right {
        height: 26.1rem;
        width: .5rem;
        @include respond(tab-port) {
            height: 18.3rem;
            width: 0.75rem;
        }
        @include respond(big-screen) {
            height: 28.2rem;
            width: 1.3rem;
        }
    }
    &__content-slices {
        width: 25.2rem;
        font-size: 1.4rem;
        line-height: 130%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.8rem 4.1rem;
        align-items: center;
        @include respond(tab-port) {
            font-size: 1.38rem;
            margin: 0 auto;
            width: 43.5rem;
        }
        @include respond(big-screen) {
            width: 75rem;
            font-size: 2.4rem;
            gap: 3.1rem 10.5rem;
        }
    }
    &__slice-name {
        width: 12.7rem;
        @include respond(tab-port) {
            width: 26.7rem;
        }
        @include respond(big-screen) {
            width: 47rem;
        }
    }
    &__images {
        margin-bottom: .3rem;
        width: 28.1rem;
        display: flex;
        justify-content: space-between;
        @include respond(tab-port) {
            margin-top: 1.39rem;
            margin-bottom: 2.72rem;
            width: 39.7rem;
        }
        @include respond(big-screen) {
            margin-top: 2.4rem;
            margin-bottom: 4.7rem;
            width: 68.6rem;
        }
    }
    &__block-img {
        width: 4.5rem;
        padding: .3rem 0 1.8rem;
        text-align: center;
        border: 1px solid rgba(105, 62, 27, 1);
        @include respond(tab-port) {
            width: 6.42rem;
            padding: .4rem 0 .2rem;
        }
        @include respond(big-screen) {
            width: 11.1rem;
            padding: .7rem 1.4rem .5rem;
        }
        span {
            @include respond(big-screen) {
                display: block;
                margin-top: 1.4rem;
            }
        }
    }
    
    &__slices-name {
        display: flex;
        text-align: center;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__img-name {
        width: 4.1rem;
        display: block;
        margin: 0 auto;
    }
    &__img-name_mn {
        display: none;
        @include respond(tab-port) {
            display: block;
        }
    }
    &__slice-img_mn {
        display: none;
        @include respond(tab-port) {
            display: block;
            margin: 0 auto .81rem;
        }
    }
    &__slice-img_mn-1 {
        @include respond(tab-port) {
            width: 1.96rem;
        }
    }
    &__slice-img_mn-2 {
        @include respond(tab-port) {
            width: 2.25rem;
        }
    }
    &__slice-img_mn-3 {
        @include respond(tab-port) {
            width: 3rem;
        }
    }
    &__slice-img_mn-4 {
        @include respond(tab-port) {
            width: 3.35rem;
        }
    }
    &__slice-img_mn-5 {
        @include respond(tab-port) {
            width: 3.7rem;
        }
    }
    &__slice-img_mn-6 {
        @include respond(tab-port) {
            width: 4.05rem;
        }
    }
    &__slice-img_dn {
        display: block;
        margin: 0 auto;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__house-img {
        margin: 3rem 0 2rem;
        img {
            width: 100%;
        }
        @include respond(big-screen) {
            margin: 0;
        }
    }
    &__house-img_mobile {
        display: block;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__house-img_desctop {
        display: none;
        @include respond(tab-port) {
            display: block;
            margin-top: 0;
        }
        @include respond(big-screen) {
            margin-top: -6rem;
        }
    }
    &__scheme-img_mobile {
        display: block;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__scheme-img_desctop {
        display: none;
        @include respond(tab-port) {
            display: block;
            margin-top: 0;
        }
        @include respond(big-screen) {
            margin-top: .7rem;
        }
    }
    &__scheme-img {
        img {
            width: 100%;
        }
    }
    &__content-bottom {
        margin-top: 1.8rem;
        padding-bottom: 2rem;
    }
    &__link-mobile {
        margin: 0 auto;
        width: 16.6rem;
        display: block;
        font-family: $ff-gotham-pro;
        font-size: 1.3rem;
        padding: 1.1rem 4.5rem;
        color: $color-dark;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__link-desctop {
        display: none;
        padding: 2rem 9.3rem;
        font-size: 2rem;
        @include respond(tab-port) {
            display: block;
            border-radius: 11px;
            margin: 0 auto;
            text-align: center;
            width: 17.4rem;
            font-size: 1.15rem;
            padding: 1.15rem 0;
        }
        @include respond(big-screen) {
            width: 30.1rem;
            padding: 2rem 9.4rem;
            font-size: 2rem;
        }
    }
}