.reviews {
    position: relative;
    margin: 0 auto;
    @include respond(tab-port) {
        padding: 0 73px;
    }
    @include respond(big-screen) {
        padding: 0 10.3rem;
    }
    .slick-track {
        padding-top: 3.6rem;
        @include respond(big-screen) {
            padding: 3.6rem 10rem;
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        margin-top: 0;
        width: 2%;
        height: 6%;
        object-fit: cover;
        @include respond(tab-port) {
            height: 17%;
        }
        @include respond(big-screen) {
            top: 44%;
            width: 4%;
            height: 17%;
        }
    }
    .slick-prev {
        left: 1.2rem;
        background: url('../../img/mobile/icon/arrow-left.svg') 0 0 no-repeat; 
        @include respond(big-screen) {
            background-size: 6.1rem;
        }
        
    }
    .slick-next {
        right: 1.2rem;
        background: url('../../img/mobile/icon/arrow-right.svg') 0 0 no-repeat;
        @include respond(big-screen) {
            background-size: 6.1rem;
            right: 0;
        }
    }
    &__slide {
        margin-right: 1.57rem;
        padding: 0 .5rem .8rem .5rem;
        color: $color-white;
        background: rgba(96, 94, 94, 1);
        @include respond(tab-port) {
            margin-right: 32px;
            width: 260px;
            padding: 0 0 17px 0;
        }
        @include respond(big-screen) {
            margin-right: 3.2rem;
            width: 26rem;
            padding: 0 0 1.7rem 0;
        } 
    }
    &__slide-block {
        margin: -3.6rem auto 0;
        width: 11.4rem;
        margin-top: -3.6rem;
        @include respond(tab-port) {
            width: 232px;
            height: 232px;
        }
        @include respond(big-screen) {
            width: 23.2rem;
            height: 23.2rem;
        }
    }
    &__slide-img {
        max-width: 100%;
    }
    &__content {
        padding-left: .7rem;
    }
    &__author {
        margin-top: -1.4rem;
        @include respond(tab-port) {
            margin-top: 11px;
        }
        @include respond(big-screen) {
            margin-top: 1.1rem;
        }
    }
    &__slide-name {
        margin-bottom: .3rem;
        font-weight: 700;
    }
    span {
        font-family: $ff-raleway;
        font-size: 1.2rem;
        @include respond(tab-port) {
            font-size: 16px;
        }
        @include respond(big-screen) {
            font-size: 1.6rem;
        }
    }
    &__slide-text {
        margin-top: 1.2rem;
        font-size: 1rem;
        line-height: 100%;
        width: 11.4rem;
        @include respond(tab-port) {
            font-size: 14px;
            line-height: 112%;
        }
        @include respond(big-screen) {
            font-size: 1.4rem;
            line-height: 112%;
        }
    }
    &__slide-text_ms-1 {
        margin-bottom: 1.6rem;
        @include respond(tab-port) {
            margin-bottom: 31px;
            width: 213px; 
        }
        @include respond(big-screen) {
            margin-bottom: 3.1rem;
            width: 21.3rem;
        }
    }
    &__slide-text_ms-2 {
        margin-bottom: 4.4rem;
        width: 11.7rem;
        @include respond(tab-port) {
            margin-bottom: 15px;
            width: 229px;
        }
        @include respond(big-screen) {
            margin-bottom: 1.5rem;
            width: 22.9rem;
        }
    }
    &__slide-text_ms-3 {
        margin-bottom: 3.6rem;
        @include respond(tab-port) {
            margin-bottom: 46px;
            width: 211px;
        }
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.1rem;
        }
    }
    &__slide-text_ms-4 {
        width: 11rem;
        margin-bottom: 4.6rem;
        @include respond(tab-port) {
            margin-bottom: 46px;
            width: 212px;
        }
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-5 {
        width: 10.1rem;
        margin-bottom: 3.6rem;
        @include respond(tab-port) {
            margin-bottom: 46px;
            width: 212px;
        }
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-6 {
        width: 10.1rem;
        margin-bottom: 3.6rem;
        @include respond(tab-port) {
            margin-bottom: 46px;
            width: 225px;
        }
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 22.5rem;
        }
    }
    &__slide-text_ms-7 {
        width: 10.7rem;
        margin-bottom: 3.6rem;
        @include respond(tab-port) {
            margin-bottom: 78px;
            width: 212px;
        }
        @include respond(big-screen) {
            margin-bottom: 7.8rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-8 {
        width: 10.3rem;
        margin-bottom: 4.6rem;
        @include respond(tab-port) {
            margin-bottom: 31px;
            width: 218px;
        }
        @include respond(big-screen) {
            margin-bottom: 3.1rem;
            width: 21.8rem;
        }
    }
    &__slide-text_ms-9 {
        width: 10rem;
        margin-bottom: 5.6rem;
        @include respond(tab-port) {
            margin-bottom: 125px;
            width: 216px;
        }
        @include respond(big-screen) {
            margin-bottom: 12.5rem;
            width: 21.6rem;
        }
    }
    &__slide-text_ms-10 {
        width: 10.2rem;
        margin-bottom: 2.6rem;
        @include respond(tab-port) {
            margin-bottom: 62px;
            width: 213px;
        }
        @include respond(big-screen) {
            margin-bottom: 6.2rem;
            width: 21.3rem;
        }
    }
    &__slide-btn {
        display: block;
        margin: 0 auto;
        border: none;
        background: transparent;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgba(229, 169, 144, 1);
        @include respond(tab-port) {
            font-size: 16px;
            cursor: pointer;
        }
        @include respond(big-screen) {
            font-size: 1.6rem;
        }
    }
    &__popup {
        display: none;
        padding: 1.7rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
        z-index: 201;
        @include respond(big-screen) {
            padding-top: 10px;
            overflow: scroll;
        }

    }
    &__body {
        position: relative;
        margin: 0 auto;
        width: 30.3rem;
        padding: 1.5rem 1.2rem;
        @include respond(tab-port) {
            width: 700px;
        }
        @include respond(big-screen) {
            width: 900px;
        }
    }
    &__close {
        position: relative;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 30% auto 10%;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        z-index: 1;
        @include respond(tab-port) {
            margin-top: 0;
        }
        @include respond(big-screen) {
            margin-top: 0;
            width: 10rem;
            height: 10rem;
        }
    }
    &__close::before {
        content: '';
        display: block;
        position: absolute;
        top: 1.8rem;
        right: .9rem;
        width: 2rem;
        height: 1px;
        background: #fff;
        transform: rotate(-130deg);
        @include respond(big-screen) {
            top: 4.9rem;
            width: 8rem;
        }
    }
    &__close::after {
        content: '';
        display: block;
        position: absolute;
        top: 1.8rem;
        right: .9rem;
        width: 2rem;
        height: 1px;
        background: #fff;
        transform: rotate(130deg);
        @include respond(big-screen) {
            top: 4.9rem;
            width: 8rem;
        }
    }
    &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
.grab {
    cursor: grab;
}
.grab:active {
    cursor: grabbing;
}