.reviews {
    position: relative;
    margin: 0 auto;
    @include respond(big-screen) {
        padding: 0 10.3rem;
    }
    .slick-track {
        padding-top: 3.6rem;
        @include respond(big-screen) {
            padding: 3.6rem 10rem;
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        margin-top: 0;
        width: 2%;
        height: 6%;
        object-fit: cover;
        @include respond(big-screen) {
            top: 44%;
            width: 4%;
            height: 17%;
        }
    }
    .slick-prev {
        left: 1.2rem;
        background: url('../../img/mobile/icon/arrow-left.svg') 0 0 no-repeat; 
        @include respond(big-screen) {
            background-size: 6.1rem;
        }
        
    }
    .slick-next {
        right: 1.2rem;
        background: url('../../img/mobile/icon/arrow-right.svg') 0 0 no-repeat;
        @include respond(big-screen) {
            background-size: 6.1rem;
            right: 0;
        }
    }
    &__slide {
        margin-right: 1.57rem;
        padding: 0 .5rem .8rem .5rem;
        color: $color-white;
        background: rgba(96, 94, 94, 1);
        @include respond(big-screen) {
            margin-right: 3.2rem;
            width: 26rem;
            padding: 0 0 1.7rem 0;
        } 
    }
    &__slide-block {
        margin: -3.6rem auto 0;
        width: 11.4rem;
        margin-top: -3.6rem;
        @include respond(big-screen) {
            width: 23.2rem;
            height: 23.2rem;
        }
    }
    &__slide-img {
        max-width: 100%;
    }
    &__content {
        padding-left: 1.7rem;
    }
    &__author {
        margin-top: -1.4rem;
        @include respond(big-screen) {
            margin-top: 1.1rem;
        }
    }
    &__slide-name {
        margin-bottom: .3rem;
        font-weight: 700;
    }
    span {
        font-family: $ff-raleway;
        font-size: 1.2rem;
        @include respond(big-screen) {
            font-size: 1.6rem;
        }
    }
    &__slide-text {
        margin-top: 1.2rem;
        font-family: $ff-gotham-pro;
        font-size: 1rem;
        line-height: 100%;
        width: 11.4rem;
        @include respond(big-screen) {
            font-size: 1.4rem;
            line-height: 112%;
        }
    }
    &__slide-text_ms-1 {
        margin-bottom: 1.6rem;
        @include respond(big-screen) {
            margin-bottom: 3.1rem;
            width: 21.3rem;
        }
    }
    &__slide-text_ms-2 {
        margin-bottom: 4.4rem;
        width: 11.7rem;
        @include respond(big-screen) {
            margin-bottom: 1.5rem;
            width: 22.9rem;
        }
    }
    &__slide-text_ms-3 {
        margin-bottom: 3.6rem;
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.1rem;
        }
    }
    &__slide-text_ms-4 {
        width: 11rem;
        margin-bottom: 4.6rem;
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-5 {
        width: 10.1rem;
        margin-bottom: 3.6rem;
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-6 {
        width: 10.1rem;
        margin-bottom: 4.6rem;
        @include respond(big-screen) {
            margin-bottom: 4.6rem;
            width: 22.5rem;
        }
    }
    &__slide-text_ms-7 {
        width: 10.7rem;
        margin-bottom: 3.6rem;
        @include respond(big-screen) {
            margin-bottom: 7.8rem;
            width: 21.2rem;
        }
    }
    &__slide-text_ms-8 {
        width: 10.3rem;
        margin-bottom: 4.6rem;
        @include respond(big-screen) {
            margin-bottom: 3.1rem;
            width: 21.8rem;
        }
    }
    &__slide-text_ms-9 {
        width: 10rem;
        margin-bottom: 5.6rem;
        @include respond(big-screen) {
            margin-bottom: 12.5rem;
            width: 21.6rem;
        }
    }
    &__slide-text_ms-10 {
        width: 10.2rem;
        margin-bottom: 2.6rem;
        @include respond(big-screen) {
            margin-bottom: 6.2rem;
            width: 21.3rem;
        }
    }
    &__slide-btn {
        display: block;
        margin: 0 auto;
        border: none;
        background: transparent;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgba(229, 169, 144, 1);
        @include respond(big-screen) {
            font-size: 1.6rem;
        }
    }
}