.slider {
    position: relative;
    margin: 0 auto;
    min-width: 337px;
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        margin-top: -9rem;
        width: 11.2%;
        height: 10%;
        object-fit: cover;
    }
    .slick-prev {
        left: 3.5%;
        background: url('../../img/mobile/icon/arrow-left.svg') 0 0 no-repeat;
        
    }
    .slick-next {
        right: 0%;
        background: url('../../img/mobile/icon/arrow-right.svg') 0 0 no-repeat;
    }
    &__item {
        width: 337px;
        padding: 0 2.5rem 3rem 2rem;
        position: relative;
        overflow: hidden;
    }
    &__line_top {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 0.3rem;
        background: $line-color-big;
    }
    &__line-top_2 {
        width: 100%;
    }
    &__row {
        position: relative;
        width: 79.4%;
        margin: 0 auto;
    }
    &__img {
        max-width: 100%;
    }
    &__promotion {
        padding: 1.8rem 2.1rem;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: $line-color-big;
        text-align: center;
        width: 41.5%;
        height: 24.2%;
        span {
            color: $color-dark;
            font-size: 1.4rem;
            font-family: $ff-kelly-slab;
        }
    }
    &__line_rigth {
        position: absolute;
        top: 0;
        right: 0;
        width: .4rem;
        height: 50.1%;
        background: $line-color-big;
    }
    &__line {
        margin: 5.5rem auto 3.2rem;
        width: 24.3rem;
        height: 0.3rem;
        background: rgba(0, 0, 0, 1);
    }
    &__line_2 {
        margin-top: 0;
        margin-bottom: 1.9rem;
    }
    &__title {
        margin-bottom: 2.7rem;
    }
    &__title_2 {
        font-size: 1.6rem;
        margin: .9rem auto .8rem;
        width: 201px;
        line-height: 120%;
    }
    &__title_suptitle {
        margin-bottom: .5rem;
        padding-left: 2.4rem;
        text-align: left;
    }
    &__text {
        margin: 0 auto 2rem;
        font-family: $ff-gotham-pro;
        font-size: 1.3rem;
        width: 283px;
    }
    &__text_width {
        margin-bottom: 1.5rem;
        font-family: $ff-raleway;
        font-size: 1rem;
        text-align: left;
        width: 304px;
    }
    &__text-last {
        margin-bottom: 5.1rem;
    }
    
}
