.section-title {
    display: none;
    @include respond(big-screen) {
        display: block;
        position: absolute;
        z-index: 0;
        margin-top: 0;
        padding-bottom: 4.5rem;
        padding-left: 20rem;
        font-family: $ff-gotham-pro;
        font-weight: 500;
    }
}
.slider {
    position: relative;
    margin: 0 auto;
    overflow: visible;
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        margin-top: -9rem;
        width: 6%;
        height: 6%;
        object-fit: cover;
        @include respond(big-screen) {
            top: 75%;
            width: 4%;
            height: 17%;
        }
    }
    .slick-prev {
        left: 1.2rem;
        background: url('../../img/mobile/icon/arrow-left.svg') 0 0 no-repeat; 
        @include respond(big-screen) {
            background-size: 6.1rem;
        }
    }
    .slick-next {
        right: 1.2rem;
        background: url('../../img/mobile/icon/arrow-right.svg') 0 0 no-repeat;
        @include respond(big-screen) {
            background-size: 6.1rem;
            right: 0;
        }
    }
    &__item {
        min-width: 33.7rem;
        padding: 0 2.5rem 3rem 2.5rem;
        position: relative;
        overflow: hidden;
        @include respond(big-screen) {
            margin-top: 15.2rem;
            width: 192rem;
            padding: 0;
        }
    }
    &__item-2 {
        @include respond(big-screen) {
            margin-top: 0;
            padding-top: 10.8rem;
        }
    }
    &__container {
        @include respond(big-screen) {
            margin: 0 auto;
            display: flex;
            width: 157.5rem;
        }
    }
    &__container-2 {
        @include respond(big-screen) {
            width: 170.5rem;
        }
    }
    &__line_top {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 0.3rem;
        background: $line-color-big;
    }
    &__line-top_2 {
        width: 100%;
    }
    &__row {
        position: relative;
        width: 23.1rem;
        margin: 0 auto;
        @include respond(big-screen) {
            width: 51.6rem;
        }
    }
    &__row-2 {
        @include respond(big-screen) {
            margin-top: 6.6rem;
            width: 52rem;
        }
    }
    &__img {
        display: block;
        width: 23.2rem;
        height: 20.4rem;
        @include respond(big-screen) {
            width: 100%;
            height: 100%;
        }
    }
    &__promotion {
        padding: 1.8rem 2.1rem;
        position: absolute;
        top: 50%;
        right: -.1rem;
        background-color: $line-color-big;
        text-align: center;
        width: 9.6rem;
        height: 4.9rem;
        span {
            color: $color-dark;
            font-size: 1.4rem;
            font-weight: 700;
            font-family: $ff-kelly-slab;
        }
    }
    &__line_rigth {
        position: absolute;
        top: 0;
        right: -.1rem;
        width: .4rem;
        height: 50.1%;
        background: $line-color-big;
    }
    &__line {
        margin: 5.5rem auto 3.2rem;
        width: 24.3rem;
        height: 0.3rem;
        background: rgba(0, 0, 0, 1);
        @include respond(big-screen) {
            display: block;
            width: 0.3rem;
            height: 44.7rem;
            margin: 0 7.4rem 0 12.5rem;
        }
    }
    &__line_height {
        display: none;
        @include respond(big-screen) {
            display: block;
            margin: 0 0 0 0;
            height: 53.3rem;
        }
    }
    &__line_2 {
        margin-top: 0;
        margin-bottom: 1.9rem;
        @include respond(big-screen) {
            display: none;
        }
    }
    &__title {
        margin: 0 auto;
        width: 28.9rem;
        margin-bottom: 2.7rem;
        @include respond(big-screen) {
            width: 68.5rem;
            text-align: left;
            margin-bottom: 4.2rem;
        }
    }
    &__content {
        position: relative;
        @include respond(big-screen) {
            margin-left: 2.8rem;
        }
    }
    &__title_2 {
        font-size: 1.6rem;
        margin: .9rem auto .8rem;
        width: 20.1rem;
        line-height: 120%;
        @include respond(big-screen) {
            margin-top: -10.8rem;
            margin-bottom: 5.5rem;
            font-size: 4rem;
            font-weight: 700;
            width: 82.1rem;
        }
    }
    &__title_suptitle {
        width: 30.4rem;
        margin: 0 auto .5rem;
        padding-left: 2.4rem;
        text-align: left;
        @include respond(big-screen) {
            margin: 0 0 1.5rem 0;
            padding: 0;
            width: 44.8rem;
        }
    }
    &__text {
        margin: 0 auto 2rem;
        font-family: $ff-gotham-pro;
        font-size: 1.3rem;
        width: 25rem;
        @include respond(big-screen) {
            width: 68.5rem;
            text-align: left;
            font-size: 2rem;
            line-height: 113%;
        }
    }
    &__text_width {
        margin: 0 auto 1.5rem;
        font-family: $ff-gotham-pro;
        font-size: 1rem;
        text-align: left;
        width: 30.4rem;
        @include respond(big-screen) {
            margin: 0 0 2rem 0;
            font-size: 2rem;
            width: 58.5rem;
        }
    }
    &__text-last {
        @include respond(big-screen) {
            margin: 0;
        }
    }
    &__btn {
        display: inline-block;
        @include respond(big-screen) {
            display: none;
        }
    }
}
.pagination {
    display: none;
    text-align: center;
    margin-top: 2rem;
    @include respond(big-screen) {
        display: block;
    }
}
.pagination button {
    background: #ddd;
    border: none;
    color: #333;
    margin: 0 .5rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
  
.pagination button.active {
    background: #555;
    color: #fff;
}
.block-btn {
    display: none;
    &__link {
        display: inline-block;
        font-size: 2.4rem;
        padding: 2.9rem 8.2rem;
    }
    @include respond(big-screen) {
        padding-top: 7.1rem;
        display: flex;
    }
}
