.upward {
    position: fixed;
    bottom: 700px;
    left: .714em;
    width: 2rem;
    height: 2rem;
    background: url('../../img/desctop/icon/arow-to-top.svg');
    background-size: cover;
    z-index: 99;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.upward.active {
    bottom: 1.428em;
    visibility: visible;
    opacity: 1;
}