.footer {
    margin: 0 auto;
    width: 31.2rem;
    &__logotype {
        display: none;
        margin-bottom: 7.95rem;
        @include respond(tab-port) {
            margin: 0 auto;
            width: 301px;
            display: flex;
            align-items: end;
        }
    }
    &__img {
        width: 16.2rem;
        height: 16.2rem;
        @include respond(tab-port) {
            width: 162px;
            height: 162px;
        }
    }
    &__name {
        font-family: $ff-kelly-slab;
        font-size: 3.6rem;
        color: rgba(0, 0, 0, 1);
        @include respond(tab-port) {
            font-size: 36px;
        }
    }
    &__lists {
        margin: 0 auto 2.8rem;
        width: 30.3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 2rem;
        font-size: 1.3rem;
        @include respond(tab-port) {
            margin: 79.5px auto 57.5px;
            width: 860px;
            display: flex;
        }
        @include respond(big-screen) {
            margin: 6.1rem auto 4.1rem;
            width: 130rem;
        }
    }
    &__list:not(:last-child) {
        @include respond(tab-port) {
            margin-right: 165px;
        }
    }
    &__location {
        @include respond(tab-port) {
            width: 193px;
            margin-bottom: 25px;
        }
        @include respond(big-screen) {
            width: 30.2rem;
            font-size: 2.4rem;
        }
    }
    &__item {
        @include respond(tab-port) {
            color: rgba(0, 0, 0, 1);
        }
        @include respond(big-screen) {
            font-size: 2.4rem;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: .9rem;
    }
    &__link {
        color: rgba(0, 0, 0, 1);
    }
    &__links {
        margin-bottom: 2.8rem;
    }
    &__links {
        @include respond(tab-port) {
            display: none;
        }
    }
    &__mail {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 1);
        @include respond(big-screen) {
            font-size: 2.4rem;
        }
    }
    &__desc {
        margin: 0 auto 2.8rem;
        font-size: 1.2rem;
        letter-spacing: .84px;
        width: 28.6rem;
        @include respond(tab-port) {
            width: 750px;
            font-size: 10px;
            letter-spacing: .741px;
        }
        @include respond(big-screen) {
            font-size: 1.6rem;
            width: 114.2rem;
        }
    }
    &__text {
        margin: 0 auto;
        width: 22.4rem;
        font-family: $ff-montserrat;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: .84px;
        color: rgba(255, 255, 255, 1);
        line-height: 130%;
        @include respond(tab-port) {
            width: 354px;
            font-size: 16px;
        }
        @include respond(big-screen) {
            font-size: 2.4rem;
            width: 53.4rem;
        }
    }
    &__link-studio {
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }
    @include respond(tab-port) {
        margin: 0;
        width: 100%;
    }
}