.header {
    background: rgba(217, 217, 217, 0.30);
    box-shadow: 10px 4px 18px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9.5px);
    overflow: hidden;
    &__content {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding: 1.5rem 0 2rem 1.1rem;
        width: 100%;
        
    }
    &__content::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        
        
    }
    &__logotype {
        display: flex;
        margin-right: 6.5rem;
    }
    &__name-logo {
        margin-top: 2.6rem;
        span {
            display: block;
            font-family: $ff-kelly-slab;
            font-size: 1.6rem;
        }
    }
    &__link-phone {
        margin-top: 1.1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-dark;
    }
    
}